In [ ]:
import pandas as pd
from sklearn.datasets import load_iris

df = load_iris()
df = pd.read_csv('/content/Data Kelahiran 2016.csv')
df.head()

  Kecamatan    Nama Puskesmas  ...  Jumlah Bayi Lahir Mati  Angka Kelahiran
0  Sukasari      UPT SUKARASA  ...                       1           Sedang
1  Sukajadi     UPT SUKAJADI   ...                       4           Sedang
2   Cicendo   UPT PASIRKALIKI  ...                       3           Sedang
3     Andir        UPT GARUDA  ...                       5           Sedang
4   Cidadap  UPT CIUMBULEUIT   ...                       2           Rendah

[5 rows x 5 columns]

In [ ]:
from sklearn.tree import DecisionTreeClassifier

x = df[["Jumlah Bayi Lahir Hidup", "Jumlah Bayi Lahir Mati"]]
y = df["Angka Kelahiran"]

model = DecisionTreeClassifier()
model.fit(x,y)
model.predict([[1365, 1]])

array(['Sedang'], dtype=object)

In [ ]:
from sklearn.tree import export_graphviz
export_graphviz(
    model,
    out_file = 'decision_tree_angka_kelahiran.dot',
    feature_names = ["Jumlah Bayi Lahir Hidup", "Jumlah Bayi Lahir Mati"],
    class_names = ["Rendah", "Sedang", "Tinggi"],
    rounded = True,
    filled = True
)